

<!-- <app-menu></app-menu>-->



<router-outlet></router-outlet>


<!--
<app-list-component [list]="firstList"></app-list-component>

<label for="userInput">Type Here</label>
<input id="userInput" type="text" [(ngModel)]="userInput">             --- two ways data binding [(ngModel)] ---
<h1>{{userInput}}</h1>


<label for="secondUserInput">Type Here</label>
<input id="secondUserInput" type="text" [value]="secondUserInput">        --- one way data binding [(ngModel)] ---
<h1>{{secondUserInput}}</h1>

-->
