<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body style="background: lightblue">

<div>..</div>
<div >
  <form action="" style="text-align: center; margin-top: 30px">
    <label class="text-bg-primary"  style=" margin-right: 30px;padding-right: 10px; padding-left: 10px" for="firstNumber"> Insert your lucky numbers please!</label>
    <input class="text-center border border-3" style="border-radius: 30px" type="number" id="firstNumber" name="quantity" min="1" max="49" placeholder="0">
    <span>  .. </span>
    <input class="text-center border border-3" style="border-radius: 30px"type="number" id="secondNumber" name="quantity" min="1" max="49" placeholder="0">
    <span>  .. </span>
    <input class="text-center border border-3" style="border-radius: 30px"type="number" id="thirdNumber" name="quantity" min="1" max="49" placeholder="0">
    <span>  .. </span>
    <input class="text-center border border-3" style="border-radius: 30px"type="number" id="forthNumber" name="quantity" min="1" max="49" placeholder="0">
    <span>  .. </span>
    <input class="text-center border border-3" style="border-radius: 30px" type="number" id="fifthNumber" name="quantity" min="1" max="49" placeholder="0">
    <span>  .. </span>
    <input class="text-center border border-3" style="border-radius: 30px" type="number" id="sixthNumber" name="quantity" min="1" max="49" placeholder="0">
    <span>  .. </span>
    <input type="submit" >
  </form>
</div>
<div style="text-align: center; margin-top: 30px">
  <img id="object1"
       src=
         "./assets/pictures/img.png" />
</div>
</body>
</html>
