<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<!---->
<h6 style="margin-left: 50px"> <a href="http://localhost:4200/app-login-page">You have to login first! </a> or <a href="http://localhost:4200/app-user-registration"> Create an account</a> </h6>

<div >
  <form action="" style="text-align: center; margin-top: 30px">
    <label class="text-bg-primary"  style=" margin-right: 30px;padding-right: 10px; padding-left: 10px" for="firstNumber"> Insert your lucky numbers please!</label>
    <input class="text-center border border-3" style="border-radius: 30px" type="number" id="firstNumber" name="quantity" min="1" max="49" placeholder="0">
    <span>  .. </span>
    <input class="text-center border border-3" style="border-radius: 30px"type="number" id="secondNumber" name="quantity" min="1" max="49" placeholder="0">
    <span>  .. </span>
    <input class="text-center border border-3" style="border-radius: 30px"type="number" id="thirdNumber" name="quantity" min="1" max="49" placeholder="0">
    <span>  .. </span>
    <input class="text-center border border-3" style="border-radius: 30px"type="number" id="forthNumber" name="quantity" min="1" max="49" placeholder="0">
    <span>  .. </span>
    <input class="text-center border border-3" style="border-radius: 30px" type="number" id="fifthNumber" name="quantity" min="1" max="49" placeholder="0">
    <span>  .. </span>
    <input class="text-center border border-3" style="border-radius: 30px" type="number" id="sixthNumber" name="quantity" min="1" max="49" placeholder="0">
    <span>  .. </span>
    <input type="submit" >
  </form>
</div>
<div style="text-align: center; margin-top: 30px">
  <img id="object1"
       src=
         "./assets/pictures/img.png" />
</div>



<!--
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>
-->

</body>
</html>
