<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lotto</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <style>
    .fishes
    {
      position:absolute;
      top: 10px;
      left: 10px;
      z-index: 1;
    }
    .fish
    {
      position:absolute;
      top: 25px;
      left: 25px;
      z-index: 2;
    }
  </style>


<img src="./src/assets/pictures/bile lotto.jpg" class="fishes" >
<img src="./src/assets/pictures/Loto-6-din-49-tragerea-de-duminica.webp" class="fish">

</body>
</html>
