<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="contact_page.css">

</head>
<body>
    <header>
        <nav>
            <a href="home.html">Inapoi la pagina principala</a>
        </nav>
    </header>
    <h1 id="page-title">Contact</h1>

        <p id="paragraf_contact">Please let a message into the box below.</p>

    <form action="">

        <lebel for="text">Mesage Box</lebel>
        <input type="text" name="" id="message_form">
        <br>
        <br>

        <lebel for="email"></lebel>
        <input type="email"
               name=""
               id="contact_email"
               required
        >
<lebel for="submit">
    <input type="submit" name="" id="">
</lebel>

    </form>
<button (click)=" clickHandler()">Click me</button>
</body>
</html>
