<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Extracted numbers</title>
    <link rel="stylesheet" href="extracted_numbers.css">
</head>
<body>
<header>
    <nav>
        <a href="home.html">Back to homepage</a>
    </nav>

    <h1>Extracted Numbers</h1>
</header>

<h4>Today lucky numbers are: </h4>
<table id= "extracted_numbers_show_table" border="1" bgcolor="aqua" style="color: #a52a2a">
    <thead>
    <tr>
        <td rowspan="1" colspan="1">Date</td>
        <td colspan="1">Extracted Numbers</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>12.06.2021</td>
        <td>3,23,44,28,36,22</td>
    </tr>
    </tbody>
</table>

</body>
</html>
