

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lotto</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body >
<h1 class="jasmine-title">Extracted Numbers</h1>
<table class=" table ">
  <thead class="text-bg-danger">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Date</th>
    <th scope="col">Extracted Numbers</th>
    <th scope="col">Winners</th>
    <th scope="col">Report</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tempNumber of extractedNumbersArray">

    <td>1</td>

    <td class="align-middle">{{ tempNumber.extractionDate }} </td>


    <td class="align-middle">{{ tempNumber.extractedNumbers }} </td>

  </tr>
  </tbody>
</table>







<!--
<p *ngFor="let tempNumber of extractedNumbersArray">
  {{ tempNumber.extractedNumbers}} : {{ tempNumber.extractionDate }}
</p>
-->
</body>
</html>






