<h4 xmlns:color="http://www.w3.org/1999/xhtml">bandicam 2021-03-29 18-52-21-244</h4>
<h1>Hello {{title}}</h1>
<h4 id="tata">{{question}}</h4>

<ul>
  <li>1</li>
  <li>2</li>
  <li>3</li>
</ul>

<nav class="nav-menu">
  <a routerLink="/list">List</a>
  <a routerLink="/contact">Contact</a>
  <a routerLink="/users">Users</a>
</nav>




<body>

<header>  <!-- HTML SEMANTIC-->
  <nav class="sidenav">
    <a routerLink="/home">Home</a>
    <a routerLink="/about-us">About Us</a>
    <a routerLink="/extractions">Extractions</a>
    <a routerLink="/list">Recapitulare</a>
    <a routerLink="/users">Users</a>
    <a routerLink="/contact">Contact</a>
  </nav>
</header>

<h1 id="page-title"> LOTTO 6 FROM 49</h1>
<h4 id="the_brave_title">The Game Of The Brave</h4>
<hr color="red" size="5px">

// de sters

<ul id="gina-virgina">
  <li id="TT" color="blanchedalmond">scris in html</li>
</ul>

// de sters

<form action="" id="add-pamnaram" >
  <label for="panaram-name">Panaram Name      </label>
  <input type="text" id="panaram-name">
  <br>
  <br>
  <label for="panaram-surename">Panaram surename</label>
  <input type="text" id="panaram-surename">
</form>



</body>


